.card {
  background-color: #ffffff;
  border-radius: 20px;
}

p {
  color: #b7b1b1;
  font-weight: 500;
}

.discBtn {
  background-color: #f7810a;
  /* border-radius: 8px; */
  font-size: 13px;
  font-weight: 500;
}

.epabx .fa-heart {
  color: #f05c5d;
}

.fa-balance-scale {
  color: #968888;
}

.fa-arrows {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.buy {
  border-radius: 20px;
  background-color: #e8f6f6;
  color: #f7810a;
}

.cart {
  background-color: #f7810a;
  border-radius: 30px;
  position: relative;
  right: 35px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

*:focus {
  outline: none;
}
